#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  padding-left: 10px;
}

#nav-bar button {
  background-color: #f2fbfc;
  border: 1px solid #000;
  border-radius: 5px;
  color: #00a087;
  float: right;
  font-size: 1.3em;
  height: 60px;
  margin-right: 1em;
  margin-top: 10px;
  opacity: 0.9;
  width: 120px;
}

#nav-bar button:hover {
  color: #000;
  opacity: 1;
}
